body {
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.main-header {
    background-color: lightgray;
}

.main-content {
    text-align: center;
}

.fun {
    text-align: center;
}

div
{
    text-align: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list-item {
    margin: 0 15px;
    border: 1px solid black;
}

.nav-list-item a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}

.nav-list-item a:hover {
    background-color: lightgray;
}

.auth-buttons {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-left: auto;
}

.auth-buttons a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin-left: 10px;
}

.auth-buttons a:hover {
    background-color: lightgray;
}

.main-footer {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lightgrey;
}

.details {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}

.details-window {
    width: 300px;
    height: 500px;
    text-align: center;
    padding: 15px;
    border: 2px solid black;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.details:target {display: block;}

.details-close {
    display: inline-block;
    border: 1px solid black;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background-color: white;
    font-size: 14pt;
    cursor:pointer;
}

.details-close:hover {background-color: wheat;}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.main-header {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.logo img {
    margin-right: 10px;
    cursor: pointer;
}

.main-content {
    text-align: center;
    margin-top: 100px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 12px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: steelblue;
}
